# Maven / Build

target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ

.idea/
*.iml
*.iws
*.ipr
out/

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# Environment files

.env

# Application secrets

application-local.properties
application-prod.properties

# Node

node_modules/

# Build folders

dist/
build/

# Coverage

coverage/

# Temp files

*.tmp
*.temp

# Database

*.db

# Java

*.class

# IDE

.vscode/
